index.cssbody{
  background-color: black;
}


.brands_name{
  background: -webkit-linear-gradient(right, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*////////////////////////////////////////*/
/*welocome text*/
#welcome{
    text-align: center;
    font-size: 8vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-family: 'Aguafina Script', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    background: -webkit-linear-gradient(right, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#welcome:hover{
    animation: welcome 10s;
}



@keyframes welcome{
0{transform:rotateZ(0deg);}
9%{transform:rotateZ(3deg);}
18%{transform:rotateZ(-3deg);}
27%{transform:rotateZ(0);}
36%{transform:rotateZ(-3deg);}
45%{transform:rotateZ(3deg);}
54%{transform:rotateZ(0deg);}
63%{transform:rotateZ(3deg);}
72%{transform:rotateZ(-3deg);}
81%{transform:rotateZ(0deg);}
90%{transform:rotateZ(-3deg);}
100%{transform:rotateZ(3deg);}
}
/*////////////////////////////////////////*/





/*A Community of Passionate Educators and Learners*/
#Community{
    text-align: center;
    font-size: 3.5VW;
    color: #fff;
}



/*ABOUT OUR COLLEGE*/
#kc{
    width: 100%;
    height: 20vw;
    background-color: black;
}




/*//////////////////////////////////////////////*/
.ke{
    width: 50%;
    font-size: 2vw;
}


.ki{
    width: 50%;
}

.mm{
    background: -webkit-linear-gradient(right, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    font-size: 4vw;
}

.mn{
    margin: 10px;
    color: #fff;
}


#mo{
    width: 100%;
    border-top-left-radius: 30%;
}
/*//////////////////////////////////////////////*/














/*//////////////////////////////////////////////*/
.J{
    text-align: center;
    padding: 10px;
    margin-top: 6vw;
    margin-bottom: 1vw;
}

.K{
    background: -webkit-linear-gradient(right, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
}


#G{
    margin: 30px 10px;
}
.L{
    font-size: 2vw;
    color: #fff;
}

.M{
    display: flex;
    background-color: black;
    font-size: 10px;
    height: 250px;
    width: 100%;
    
}

.N{
    width: 33%;
    padding: 1.2px;
    height: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 51% 100%, 0 83%);
}

.O{
    width: 100px;
    flex: 33%;
    padding: 10px;
    font-size: 2vw;
}


.Q{
    display: flex;
    background-color: black;
    color: #fff;
}
/*//////////////////////////////////////////////*/


#gb{
    background-color: black;
    color: #fff;
}


.AC{
    text-align: center;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 0;
}






















.aq{
    display: flex;
    background-color: black;
    width: auto;
}


.aw{
    width: 32.90%;
    height: 200px;
    border: 1px solid black;
}

/*get in touch text*/
.de{
    background-color: black;
    color: #fff;
    display: flex;
    width: 100%;
}

.df{
    width: 33.33%;
    height: auto;
    padding: 15px;
    font-size: 2vw;
}











/*You cannot open a book without learning something.*/


.sb{
    text-align: center;
    font-size:4vw;
    margin-top: 6vw;
    margin-bottom: 1vw;
    background: -webkit-linear-gradient(right, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.sc{
  font-size: 4vw;
}




.down_main_image{
    width: 100%;
}




















/*////////////////////////////////////////*/
/*for all footer content*/
.footer{
    background-color: black;
    text-align: center;
    color: #fff;
    padding: 40px;
    border-top-right-radius: 100px;
}
.contact_us_heading{
    background: -webkit-linear-gradient(right, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.fa{
    font-size: 40px;
    padding: 12px;
    width: 110px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}
.logo_name{
    align-items: right;
    color: yellow;
}
.need_any_help{
    font-size: 20px;
}
.fa:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
    transition: 1s;
}
.fa-facebook {
    background: #3B5998;
    color: white;

}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}




.All_Right_Reserved{
  background-image: linear-gradient(to right, #00ffff, yellow);
    padding: 12px;
    margin-bottom: 0;
    font-family: 'Aguafina Script', cursive;
    font-family: 'IBM Plex Sans', sans-serif
}



/*////////////////////////////////////////*/
